$base-color: #fc9658;
$combination-color: #fadd8d;

.dashboard {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.exam__id{
    background-color: $base-color
}

.exam__date {
    background-color: $combination-color;
}
.exam__name {
        background-color: $base-color;
}

.exam__status {
    background-color: $combination-color;
}

.exam__aviability {
    background-color: $base-color;
}

.exam__download {
    background-color: $combination-color;
}

.exam__view {
    background-color: $base-color;
}

.fas.fa-check-square {
    color: #0C6B21;
}

.fas.fa-eye {
    color: #162188;
}