.dashboard {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.exam__status {
    color: rgb(201, 201, 201);
    background-color: rgb(86, 46, 139);
    font-weight: bold;
    font-size: 15px;
    text-align: center
}

.fas.fa-check-square {
    color: #0C6B21;
}

.fas.fa-eye {
    color: #162188;
}