$fuente-principal: 'Quicksand', sans-serif;
$background-color: linear-gradient(to left bottom, #1b2470 50%, #293585 50%);
$color-font:#FFB015;
$color-box: #FF5C00;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-container {
    margin-block-start: 0em;
    display: grid;
    grid-template-columns: 350px 700px 1fr;
    grid-template-rows: 100px 90px;
}

#header-container {
    width: 100vw;
    height: 130px;
    padding-top: 10px; 
    background: $background-color;
}

.imagotipo {
    margin: 0;
    width: 260px;
    height: 75px;
    &__iconotipo {
        width: 100px;
        margin-left: 20px;
    }
    &__logotipo{
        width: 140px;
        margin-bottom: 5px;
    }
}

    .user-container {
    display: grid;
    justify-self: flex-end;
    align-items: flex-end;
    margin-right: 40px;
    }

.userIcon {
    display: grid;
    align-items: end;
    padding-right: 50px;
    width: 40px;
}

.tittle-indication p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: medium;
    color: $color-font;
}

.tittle-indication {
    margin-left: 25px;
    margin-top: -30px;
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
}

.namebar {
    background: $color-box;
    display: grid;
    grid-column: 2;
    grid-row: 1;
    width: 350px;
    height: 30px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 30px;
    p { 
        display: grid;
        justify-items: center;
        align-items: center;
        margin: 0;
        color: white;
        font-weight: 600;
    }

.header__menu {
    grid-column: end;
}

    .header__menu p {
    margin: 0;
    }

    .header__menu li a {
    color: white;
    text-decoration: none;
    }

    .header__menu li a:hover {
    text-decoration: underline;
    // display: block;
    }

    .header__menu--profile {
    align-items: center;
    display: grid;
    cursor: pointer;
    grid-column: 3;
    }

}