# Created by https://www.gitignore.io/api/react
# Edit at https://www.gitignore.io/?templates=react

### vscode ###
.vscode

### Build ###
dist/

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules

bower_componets

*.sublime*

psd
thumb
sketch

# End of https://www.gitignore.io/api/react

