.Container-Admin {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 15% 15% 15% 1fr;
}

.searchBox {
  display: flex;
  border: solid red;
  grid-column: 1 / 4;
  justify-content: center;
  align-items: center;
}

.searchbar {
  background-color: #ffffff;
  border-radius: 25px;
  padding-left: 20px;
  width: 250px;
  border: 1px solid #a1a1a1;
}

.searchBusqueda {
  text-align: center;
  width: 80%;
  padding-left: 5%;
  border: none;
}

.searchBusqueda {
  font-size: 15px;
  line-height: 1.2;
  height: 35px;
}

.selectTypeUser {
  grid-column: 1;
  justify-content: center;
  text-align: center;
  display: block;
}

.selectrOderList {
  grid-column: 2;
  justify-content: center;
  text-align: center;
  display: block;
}

.selectrOderList select {
  margin-left: 15px;
}

.searchIcon {
  color: #999999;
}

.check-card {
  grid-column: 1;
  text-align: start;
  margin-left: 15px;
}

.csvIcon {
  display: grid;
  grid-column: 4;
  grid-row: 2/4;
  margin: auto;
}

.addUser {
  display: grid;
  grid-column: 3;
}

.addUser {
  display: inline;
}

.iconContainer {
  width: 50px;
  height: 50px;
}
.addUser span p {
  color: #00c2ff;
  font-size: 15px;
  font-weight: bold;
  display: inline-flex;
  position: relative;
}

.fas.fa-plus-circle {
  font-size: 40px;
  color: #00c2ff;
  align-self: center;
  position: relative;
  justify-items: center;
  align-items: center;
}

.pagination {
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.cardContainer {
  background-color: rgb(115, 130, 218);
  grid-column: span 3;
  grid-row: 4;
  height: 200px;
}

.tittle-SideBar {
  justify-content: center;
  text-align: center;
}

#button-csv {
  width: 155px;
  height: 35px;
  border-radius: 15px;
  grid-column: 4;
  align-content: start;
  justify-content: center;
}
